@import './utils.css';
@import 'tailwindcss';


/* Link do video de snippets: https://youtu.be/3NHEYUdBguY?si=0wovfMhbFNsR57zA&t=302 */
/*--------------CSS RESET--------------*/
html {
    overflow-x: hidden;
}

:root {
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden
}

@theme inline {
    --spacing: 1px;
    --font-title: var(--font-roboto);
    --font-corpo: var(--font-roboto);

    --color-primary: #A20201;
    --color-hover: #B71C1C;
    --color-light: #F1F1F1;
    --color-light-secundary: #CECECE;
    --color-dark: #242424;
    --color-dark-secundary: #3F3F3F;
    --color-link: #DC3B1D;

}