@use 'sass:math';

// Altere os valores abaixo conforme a necessidade
// tamanho da fonte a unidade padrão é px
$size-base-desktop: 16;

// razão da fonte em relação ao tamanho base
$text-ratio-desktop: 1.35;

// fontes
$font-title: var(--font-roboto);
$font-body: var(--font-roboto);

@function size($base, $ratio, $step, $unit: px) {
    @return math.round($base * math.pow($ratio, $step)) + $unit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
}

.title-1{
    overflow-wrap: normal;
    font-size: size($size-base-desktop, $text-ratio-desktop, 5);
    font-weight: 300;
    line-height: 1;
}

.title-2{
    font-size: size($size-base-desktop, $text-ratio-desktop, 4);
    font-weight: 300;
    line-height: 1;
}

.title-3{
    font-size: size($size-base-desktop, $text-ratio-desktop, 3);
    font-weight: 400;
    line-height: 1.2;
}

.title-4{
    font-size: size($size-base-desktop, $text-ratio-desktop, 2);
    font-weight: 500;
    line-height: 1.2;
}

.font-body,
.font-body-2,
.tooltip {
    font-family: $font-body;
    font-weight: 400;
    line-height: 1.5;
}

.font-body {
    font-size: $size-base-desktop + px;
}

.font-body-2 {
    font-size: $size-base-desktop - 2 + px;
}

.tooltip {
    font-size: 10px;
}